.profileCard {
    max-width: 300px;
    max-height: 450px;
}

.profilePicture {
    width: 150px !important;
    height: 150px !important;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.amountReviews {
    padding-left: 5px;
}
