.profileCard {
    max-width: 300px;
    max-height: 450px;
}

.profilePicture {
    width: 150px !important;
    height: 150px !important;
}

.container {
    display: flex;
    align-content: center;
    flex-direction: column;
}
.amountReviews {
    padding-left: 10px;
}

.reviewRating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.fontAverage {
    font-size: medium;
}
